<div class="row">
  <div class="col-lg-3 offset-2">
    <ul class="list-group">
      <li class="list-group-item active">User Settings</li>
      <li class="list-group-item"><%= link_to "Billing & Payment", users_payment_path %></li>
    </ul>
  </div>
  <div class="col-lg-6">
  <div class="card">
    <div class="card-body">