<div class="intro-home">
  <div class="shell">
    <header class="intro__head">
      <h1 class="intro__title">YOUR MARKETPLACE TO CONNECT AND WORK</h1>
      <!-- /.intro__title -->
    </header>
    <!-- /.intro__head -->

    <div class="intro__entry">
      <p>
        Hire remote reps, set up calling campaigns and manage it all seamlessly – in one place.
      </p>
    </div>
    <!-- /.intro__entry -->

    <div class="intro__actions">
      <div class="callout">
        <form class="form form-validation email-register-client" method="post" no-validate="noval-idate" novalidate="novalidate">
          <div class="callout__inner">
            <div class="callout__controls">
              <input type="email" name="email" id="email" placeholder="Your work email" required="" class="callout__field" data-required="true">
            </div>
            <!-- /.callout__controls -->

            <div class="callout__actions">
              <a href="/users/sign_up" class="btn btn--light">Start Here</a>
            </div>
            <!-- /.callout__actions -->
          </div>
          <!-- /.callout__inner -->
          <div class="wrong-message">Email is required</div>
          <div class="error-message">Please enter a valid email</div>
          <div class="wrong-message submit-error">Please enter a valid email.</div>
          <div class="signup-prompter">Get started for free&nbsp; ● &nbsp;No credit card required</div>
        </form>
      </div>
      <!-- /.callout -->
    </div>
    <!-- /.intro__actions -->

    <figure class="intro__image">
      <img class="hidden-lg" src="css/images/intro-image-mobile.png" alt="" width="635">
      <img class="hidden-xs hidden-sm hidden-md visible-lg" src="css/images/intro-image.png" alt="" width="1150">
    </figure>
    <!-- /.intro__image -->
  </div>
  <!-- /.shell -->
</div>
<!-- /.intro-home -->

<section class="section section--centered">
  <div class="shell">
    <header class="section__head">
      <!-- <h6 class="section__subtitle">
      Start building a virtual call center you trust
    </h6><!-- /.section__subtitle -->

      <h2 class="section__title">
        We Provide You With a Complete End-to-End Process
      </h2>
      <!-- /.section__title -->

      <div class="section__head__entry">
        <p>
          Avoid the hassles of working with traditional call centers. Get everything you need to build a tailored solution for your customer engagement needs.
        </p>
      </div>
      <!-- /.section__head__entry -->
    </header>
    <!-- /.section__head -->

    <div class="section__body">
      <div class="features">
        <div class="feature">
          <div class="feature__content">
            <div class="feature__inner">
              <h3 class="feature__title">
                <a href="#features.html#find">Find</a>
              </h3>
              <!-- /.feature__title -->

              <div class="feature__entry">
                <p>
                  Partner with one of our Talent Advocates to identify the perfect candidates for your needs.
                </p>
              </div>
              <!-- /.feature__entry -->

              <div class="feature__actions">
                <a href="#features.html#find">See more <span>&gt;</span></a>
              </div>
              <!-- /.feature__actions -->
            </div>
            <!-- /.feature__inner -->
          </div>
          <!-- /.feature__content -->

          <figure class="feature__image">
            <a href="#features.html#find">
              <img src="css/images/feature-find.png" alt="" width="182">
            </a>
          </figure>
          <!-- /.feature__image -->
        </div>
        <!-- /.feature -->

        <div class="feature feature--reversed">
          <div class="feature__content">
            <div class="feature__inner">
              <h3 class="feature__title">
                <a href="#features.html#hire">Hire</a>
              </h3>
              <!-- /.feature__title -->

              <div class="feature__entry">
                <p>
                  Easily hire the right person and simplify the onboarding process with Overpass as the mediator between you and your rep.
                </p>
              </div>
              <!-- /.feature__entry -->

              <div class="feature__actions">
                <a href="#features.html#hire">See more <span>&gt;</span></a>
              </div>
              <!-- /.feature__actions -->
            </div>
            <!-- /.feature__inner -->
          </div>
          <!-- /.feature__content -->

          <figure class="feature__image">
            <a href="#features.html#hire">
              <img src="css/images/feature-hire.png" alt="" width="158">
            </a>
          </figure>
          <!-- /.feature__image -->
        </div>
        <!-- /.feature -->

        <div class="feature">
          <div class="feature__content">
            <div class="feature__inner">
              <h3 class="feature__title">
                <a href="#features.html#work">Work</a>
              </h3>
              <!-- /.feature__title -->

              <div class="feature__entry">
                <p>
                  Set up your first campaign and get your reps right to work with our all-in-one Customer Engagement Software.
                </p>
              </div>
              <!-- /.feature__entry -->

              <div class="feature__actions">
                <a href="#features.html#work">See more <span>&gt;</span></a>
              </div>
              <!-- /.feature__actions -->
            </div>
            <!-- /.feature__inner -->
          </div>
          <!-- /.feature__content -->

          <figure class="feature__image">
            <a href="#features.html#work">
              <img src="css/images/feature-work.png" alt="" width="121">
            </a>
          </figure>
          <!-- /.feature__image -->
        </div>
        <!-- /.feature -->

        <div class="feature feature--reversed">
          <div class="feature__content">
            <div class="feature__inner">
              <h3 class="feature__title">
                <a href="#features.html#monitor">Monitor</a>
              </h3>
              <!-- /.feature__title -->

              <div class="feature__entry">
                <p>
                  Gain real-time insights into the status of your campaigns and your reps' progress.
                </p>
              </div>
              <!-- /.feature__entry -->

              <div class="feature__actions">
                <a href="#features.html#monitor">See more <span>&gt;</span></a>
              </div>
              <!-- /.feature__actions -->
            </div>
            <!-- /.feature__inner -->
          </div>
          <!-- /.feature__content -->

          <figure class="feature__image">
            <a href="#features.html#monitor">
              <img src="css/images/feature-monitor.png" alt="" width="130">
            </a>
          </figure>
          <!-- /.feature__image -->
        </div>
        <!-- /.feature -->

        <div class="feature">
          <div class="feature__content">
            <div class="feature__inner">
              <h3 class="feature__title">
                <a href="#features.html#pay">Pay</a>
              </h3>
              <!-- /.feature__title -->

              <div class="feature__entry">
                <p>
                  Get peace of mind knowing that you’re only paying for the work your reps actually do.
                </p>
              </div>
              <!-- /.feature__entry -->

              <div class="feature__actions">
                <a href="#features.html#pay">See more  <span>&gt;</span></a>
              </div>
              <!-- /.feature__actions -->
            </div>
            <!-- /.feature__inner -->
          </div>
          <!-- /.feature__content -->

          <figure class="feature__image">
            <a href="#features.html#pay">
              <img src="css/images/feature-pay.png" alt="" width="129">
            </a>
          </figure>
          <!-- /.feature__image -->
        </div>
        <!-- /.feature -->
      </div>
      <!-- /.features -->
    </div>
    <!-- /.section__body -->
  </div>
  <!-- /.shell -->
</section>
<!-- /.section -->

<section class="section section--centered">
  <div class="shell">
    <header class="section__head section__head--small">
      <h2 class="section__title">Find a Rep For Any of Your Customer Engagement Needs</h2>
      <!-- /.section__title -->
    </header>
    <!-- /.section__head -->

    <div class="section__body">
      <div class="thumbs">
        <div class="thumb">
          <div class="thumb__inner">
            <figure class="thumb__image">
              <i class="ico-sales"></i>
            </figure>
            <!-- /.thumb__image -->

            <span class="thumb__title">Sales</span>
          </div>
          <!-- /.thumb__inner -->
        </div>
        <!-- /.thumb -->

        <div class="thumb">
          <div class="thumb__inner">
            <figure class="thumb__image">
              <i class="ico-lead"></i>
            </figure>
            <!-- /.thumb__image -->

            <span class="thumb__title">Lead Generation</span>
          </div>
          <!-- /.thumb__inner -->
        </div>
        <!-- /.thumb -->

        <div class="thumb">
          <div class="thumb__inner">
            <figure class="thumb__image">
              <i class="ico-telemarketing"></i>
            </figure>
            <!-- /.thumb__image -->

            <span class="thumb__title">Telemarketing</span>
          </div>
          <!-- /.thumb__inner -->
        </div>
        <!-- /.thumb -->

        <div class="thumb">
          <div class="thumb__inner">
            <figure class="thumb__image">
              <i class="ico-appointment"></i>
            </figure>
            <!-- /.thumb__image -->

            <span class="thumb__title">Appointment Setting</span>
          </div>
          <!-- /.thumb__inner -->
        </div>
        <!-- /.thumb -->

        <div class="thumb">
          <div class="thumb__inner">
            <figure class="thumb__image">
              <i class="ico-cold-calling"></i>
            </figure>
            <!-- /.thumb__image -->

            <span class="thumb__title">Cold Calling</span>
          </div>
          <!-- /.thumb__inner -->
        </div>
        <!-- /.thumb -->

        <div class="thumb">
          <div class="thumb__inner">
            <figure class="thumb__image">
              <i class="ico-retention"></i>
            </figure>
            <!-- /.thumb__image -->

            <span class="thumb__title">Retention</span>
          </div>
          <!-- /.thumb__inner -->
        </div>
        <!-- /.thumb -->

        <div class="thumb">
          <div class="thumb__inner">
            <figure class="thumb__image">
              <i class="ico-collections"></i>
            </figure>
            <!-- /.thumb__image -->

            <span class="thumb__title">Collections</span>
          </div>
          <!-- /.thumb__inner -->
        </div>
        <!-- /.thumb -->

        <div class="thumb">
          <div class="thumb__inner">
            <figure class="thumb__image">
              <i class="ico-fundraising"></i>
            </figure>
            <!-- /.thumb__image -->

            <span class="thumb__title">Fundraising</span>
          </div>
          <!-- /.thumb__inner -->
        </div>
        <!-- /.thumb -->

        <div class="thumb">
          <div class="thumb__inner">
            <figure class="thumb__image">
              <i class="ico-survey"></i>
            </figure>
            <!-- /.thumb__image -->

            <span class="thumb__title">Survey</span>
          </div>
          <!-- /.thumb__inner -->
        </div>
        <!-- /.thumb -->

        <div class="thumb">
          <div class="thumb__inner">
            <figure class="thumb__image">
              <i class="ico-polling"></i>
            </figure>
            <!-- /.thumb__image -->

            <span class="thumb__title">Political Polling</span>
          </div>
          <!-- /.thumb__inner -->
        </div>
        <!-- /.thumb -->
      </div>
      <!-- /.thumbs -->
    </div>
    <!-- /.section__body -->
  </div>
  <!-- /.shell -->
</section>
<!-- /.section -->

<div class="section">
  <div class="shell">
    <div class="section__inner">
      <figure class="section__image">
        <img src="css/images/temp/image-computer.png" alt="">
      </figure>
      <!-- /.section__image -->

      <div class="section__content">
        <h2 class="section__title section__title--offset-bottom-large">
          Finally, an All-in-One Solution to Create Your Own Virtual Call Center
        </h2>
        <!-- /.section__title -->

        <div class="section__entry">
          <p>
            To help you better connect with customers, we’ve reinvented the way you build your customer service and sales departments. Now you can hire the perfect call center reps from anywhere in the world, use the right tools to engage customers, and closely monitor work activity in real-time.
          </p>
        </div>
        <!-- /.section__entry -->
      </div>
      <!-- /.section__content -->
    </div>
    <!-- /.section__inner -->
  </div>
  <!-- /.shell -->
</div>
<!-- /.section -->

<section class="section-callout">
  <div class="shell">
    <header class="section__head">
      <h2 class="section__title">You’re Just a Click Away From Building Your Team</h2>
      <!-- /.section__title -->
    </header>
    <!-- /.section__head -->

    <div class="section__body">
      <div class="section__entry">
        <p>
          It takes just a few minutes to set up a FREE account – and we’re available to answer any questions you have.
        </p>
      </div>
      <!-- /.section__entry -->

      <div class="callout callout--dark">
        <form class="form form-validation email-register-client" method="post" novalidate="novalidate">
          <div class="callout__inner">
            <div class="callout__controls">
              <input type="email" name="email" id="email" placeholder="Your work email" required="" class="callout__field" data-required="true">
            </div>
            <!-- /.callout__controls -->

            <div class="callout__actions">
              <button type="submit" class="btn btn--light">Start Here</button>
            </div>
            <!-- /.callout__actions -->
          </div>
          <!-- /.callout__inner -->
          <div class="wrong-message">Email is required</div>
          <div class="error-message">Please enter a valid email</div>
          <div class="wrong-message submit-error">Please enter a valid email.</div>
          <div class="signup-prompter">Free Account&nbsp; ● &nbsp;No credit card required</div>
        </form>
      </div>
      <!-- /.callout -->
    </div>
    <!-- /.section__body -->
  </div>
  <!-- /.shell -->
</section>
<!-- /.section-callout -->

<section class="section section--centered section--offset-top">
  <div class="shell">
    <header class="section__head">
      <h1 class="section__title">
        Testimonials
      </h1>
      <!-- /.section__title -->
    </header>
    <!-- /.section__head -->

    <div class="section__body">
      <div class="testimonials">
        <blockquote class="testimonial">
          <div class="testimonial__inner">
            <div class="testimonial__entry">
              <p>
                We’ve had bad experiences with call centers. Through Overpass, I hired my own remote team that I have complete control over. I started with one rep to see how it worked and am continuing to grow my team.
              </p>
            </div>
            <!-- /.testimonial__entry -->

            <div class="testimonial__foot">
              <figure class="testimonial__photo">
                <img src="css/v2/images/temp/ufs.png" alt="">
              </figure>
              <!-- /.testimonial__photo -->

              <h6 class="testimonial__title">
                Unique Funding Solutions

                <span>Cash Advance Company; Brooklyn</span>
              </h6>
              <!-- /.testimonial__title -->
            </div>
            <!-- /.testimonial__foot -->
          </div>
          <!-- /.testimonial__inner -->
        </blockquote>
        <!-- /.testimonial -->

        <blockquote class="testimonial">
          <div class="testimonial__inner">
            <div class="testimonial__entry">
              <p>
                Our e-commerce division uses the Overpass platform to handle customer outreach. I’m impressed with how seamless it's been working with reps on the platform. I know when and what they are working on; it’s as if the reps are sitting right next to me!
              </p>
            </div>
            <!-- /.testimonial__entry -->

            <div class="testimonial__foot">
              <figure class="testimonial__photo">
                <img src="css/v2/images/temp/national_cellular.png" alt="">
              </figure>
              <!-- /.testimonial__photo -->

              <h6 class="testimonial__title">
                David Grossman

                <span>National Cellular; Brooklyn</span>
              </h6>
              <!-- /.testimonial__title -->
            </div>
            <!-- /.testimonial__foot -->
          </div>
          <!-- /.testimonial__inner -->
        </blockquote>
        <!-- /.testimonial -->

        <blockquote class="testimonial">
          <div class="testimonial__inner">
            <div class="testimonial__entry">
              <p>
                I worked with a call center in India that never gave me complete progress reports–and they were expensive. With the rep I hired through Overpass, I know exactly who is working for me and what they’re doing. I’m only paying for work that’s being done.
              </p>
            </div>
            <!-- /.testimonial__entry -->

            <div class="testimonial__foot">
              <figure class="testimonial__photo">
                <img src="css/v2/images/temp/sobe.png" alt="">
              </figure>
              <!-- /.testimonial__photo -->

              <h6 class="testimonial__title">
                SOBE Kitchens

                <span>Wholesale &amp; Retail Kitchen Cabinets; Miami
</span>
              </h6>
              <!-- /.testimonial__title -->
            </div>
            <!-- /.testimonial__foot -->
          </div>
          <!-- /.testimonial__inner -->
        </blockquote>
        <!-- /.testimonial -->
      </div>
      <!-- /.testimonials -->
    </div>
    <!-- /.section__body -->
  </div>
  <!-- /.shell -->
</section>
<!-- /.section -->
